-# Required variables: "club", a club
- c = Proc.new{cycle('odd', 'even', :name => 'club')}
%table.club
  %thead
    %tr
      %th{:colspan => 2}
        Club Information:
        %b= h club.name
  %tbody
    %tr{:class => c.call}
      %th Name
      %td= h club.name
    %tr{:class => c.call}
      %th Customer
      %td
        = link_to club.customer.name, club.customer
    %tr{:class => c.call}
      %th Address
      %td= h club.address
    %tr{:class => c.call}
      %th Telephone 1
      %td= h club.telephones_string
    %tr{:class => c.call}
      %th Email
      %td= h club.email
    %tr{:class => c.call}
      %th # Members
      %td= club.num_members
    %tr{:class => c.call}
      %th Date Founded
      %td= club.date_founded
    %tr{:class => c.call}
      %th Motto
      %td= h club.motto
    %tr{:class => c.call}
      %th Objective
      %td
        .redcloth= textilize club.objective
    %tr{:class => c.call}
      %th Eligibility
      %td
        .redcloth= textilize club.eligibility
    %tr{:class => c.call}
      %th Work Plan
      %td
        .redcloth= textilize club.work_plan
    %tr{:class => c.call}
      %th Applicant's Position
      %td= h club.form_submitter_position
    %tr{:class => c.call}
      %th Patron
      %td= h club.patron
    %tr{:class => c.call}
      %th Intended Duty
      %td
        .redcloth= textilize club.intended_duty
    %tr{:class => c.call}
      %th Founding Motivation
      %td
        .redcloth= textilize club.founding_motivation
    %tr{:class => c.call}
      %th Cooperation Ideas
      %td
        .redcloth= textilize club.cooperation_ideas
    - if current_user.has_role?('edit-customers')
      %tr.footer
        %td.edit{:colspan => 2}= link_to 'Edit Club Information', edit_club_path(club)
      %tr.footer
        %td.delete{:colspan => 2}= button_to 'Delete Club', club_path(club), :confirm => 'Are you sure you want to delete this Club information?', :method => :delete
