%h1
  Edit
  = glossary_term('Waiting Order')
%h2
  Customer:
  = link_to @customer.name, customer_path(@customer)

= error_messages_for :waiting_order

= form_for @waiting_order, :url => customer_waiting_order_path(@customer, @waiting_order), :html => { :method => :patch } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %button.debounced Save

%p.actions
  = link_to 'Back to Customer', customer_path(@customer)
