= render_pretty_header 'Customer Types' do
  %p Administrators may edit the master list of Customer Types here.

  %p
    The list of Customer Types is also visible in the
    = link_to('Help', help_path)
    pages.

%table.customer-types
  %thead
    %tr
      %th Category
      %th Name
      %th Description
      %th
      %th

  %tbody
    - @customer_types.each do |customer_type|
      %tr{:class => cycle('odd', 'even')}
        %td= customer_type.category
        %td= customer_type.name
        %td= customer_type.description
        %td= link_to('Edit', edit_admin_customer_type_path(customer_type))
        %td= button_to('Destroy', [ :admin, customer_type ], method: :delete, data: { confirm: 'Are you sure you want to destroy this CustomerType?' })
    %tr
      %td.add{:colspan => 5}
        = link_to('Create New Customer Type', new_admin_customer_type_path)
