<h1>New Customer Type</h1>

<%= error_messages_for :customer_type %>

<%= form_for(:customer_type, :url => admin_customer_types_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Category</b><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_customer_types_path %>
