-# Required variables: "f" => a form_for instance
%table.order
  %thead.title
    %tr
      %th{:colspan => 2}
        = glossary_term('Order')
  %tbody
    %tr
      %th Issue
      %td= f.issue_field :issue_id
    %tr
      %th # Copies
      %td= f.text_field :num_copies
    %tr
      %th Order Date
      %td= f.date_field :order_date
    %tr
      %th Delivery Method
      %td= f.select :delivery_method_id, DeliveryMethod.order(:abbreviation).all.collect{|dm| [ "#{dm.abbreviation} - #{dm.name} (#{dm.description})", dm.id ]}
    %tr
      %th Comments
      %td= f.text_field :comments
