-# Required variables: "f" => a form_for instance
%p
  %strong Customer:
  = @customer.name
- if f.object.persisted?
  %p
    %strong Issue:
    = @order.issue.full_name
- else
  .form-group
    = f.label(:issue_id, 'Issue')
    = f.issue_field(:issue_id)
.form-group
  = f.label(:num_copies, 'Number of Copies')
  = f.number_field(:num_copies, required: true, step: 1)
.form-group
  = f.label(:delivery_method, 'Delivery Method')
  = f.delivery_method_field(:delivery_method)
.form-group
  = f.label(:order_date, 'Order Date')
  = f.date_field(:order_date)
.form-group
  = f.label(:comments, 'Comments')
  = f.text_field(:comments)
