-# Required variables: "orders" => list of orders

%table.customer-orders
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-orders') ? 7 : 6)}
        = "Orders (#{orders.length})"
  %thead
    %tr
      %th Publication
      %th #
      %th Issue
      %th Qty
      %th Order Date
      %th
        %abbr{:title => 'Delivery Method'} DM
      - if current_user.has_role? 'edit-orders'
        %th
  %tbody
    - orders.each do |order|
      %tr
        %td.publication{:rowspan => 2}= order.issue.publication.name
        %td.issue_number{:rowspan => 2}= order.issue.issue_number
        %td.issue_name
          .cut-off= order.issue.name
        %td.num_copies= number_with_delimiter order.num_copies
        %td.order_date= order.order_date
        %td.delivery_method
          %abbr{:title => order.delivery_method.name}= order.delivery_method.abbreviation
        - if current_user.has_role? 'edit-orders'
          %td.actions{:rowspan => 2}
            = link_to 'Edit', edit_customer_order_path(@customer, order)
            = button_to 'Delete', customer_order_path(@customer, order), :confirm => 'Are you sure you want to delete this Order from this Customer?', :method => :delete
      %tr
        %td{:colspan => 4}
          .redcloth= textilize(order.comments).html_safe
    - if current_user.has_role? 'edit-orders'
      %tr
        %td.add{:colspan => 7}
          = link_to 'Add New Order', new_customer_order_path(@customer)
