-# Required variables: "orders" => list of orders

%table.customer-orders
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-orders') ? 5 : 4)}
        = "Orders (#{orders.length})"
  %thead
    %tr
      %th Issue
      %th Order Date
      %th
        %abbr{:title => 'Delivery Method'} DM
      %th Qty
      - if current_user.has_role?('edit-orders')
        %th
  %tbody
    - orders.each do |order|
      %tr{:class => order.comments.present? && 'has-comments' || ''}
        %td.issue= link_to(order.issue.full_name, order.issue)
        %td.order_date= order.order_date
        %td.delivery_method= order.delivery_method
        %td.num_copies
          - if current_user.has_role?('edit-orders')
            = link_to(number_with_delimiter(order.num_copies), edit_customer_order_path(@customer, order), class: 'in-modal-dialog')
          - else
            = number_with_delimiter(order.num_copies)
        - if current_user.has_role?('edit-orders')
          %td.actions
            = button_to 'Delete', customer_order_path(@customer, order), data: { :confirm => 'Are you sure you want to delete this Order from this Customer?' }, :method => :delete
      - if order.comments.present?
        %tr.comments
          %td.comments{:colspan => current_user.has_role?('edit-orders') && 5 || 4}= order.comments
    - if current_user.has_role?('edit-orders')
      %tr
        %td.add{:colspan => current_user.has_role?('edit-orders') && 5 || 4}
          = link_to('Add New Order', new_customer_order_path(@customer), class: 'in-modal-dialog')
