%h1
  Edit
  = glossary_term('Order')
%h2
  Customer:
  = link_to @customer.name, customer_path(@customer)

= error_messages_for :order

= form_for :order, :url => customer_order_path(@customer, @order), :html => { :method => :patch } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= submit_tag

%p.actions
  = link_to 'Back to Customer', customer_path(@customer)
