-# Required variables: "standing_order", the standing order
- row_class = cycle 'even', 'odd'
- row_id = "standing_order_#{standing_order.id}_details"
%tr{:class => row_class}
  %td.delivery-method
    %abbr{:title => standing_order.customer.delivery_method.description}= standing_order.customer.delivery_method.abbreviation
  %td.region= standing_order.customer.region.name
  %td.district= standing_order.customer.district
  %td.name
    %div{:style => 'overflow: hidden'}= standing_order.customer.name
  %td.num-copies
    - if current_user.has_role?('edit-orders')
      = form_for([standing_order.publication, standing_order]) do |f|
        %div
          = f.text_field(:num_copies)
    - else
      = standing_order.num_copies
  %td.actions
    = link_to_function('details') { |p| p.toggle(row_id) }
%tr{:id => row_id, :class => row_class, :style => 'display: none;'}
  %td{:colspan => 6}
    %div
      %p
        %b Comments:
        = standing_order.comments
      %p
        %b Delivery Method:
        = standing_order.customer.delivery_method.name
      %p
        %b Delivery Instructions:
        = standing_order.customer.delivery_instructions
