-# Required variables: "f" => a form_for instance
%table.standing-order
  %thead.title
    %tr
      %th{:colspan => 2}
        Standing Order
  %tbody
    %tr
      %th Publication
      %td
        - if @standing_order.persisted?
          = @standing_order.publication.name
        - else
          = f.select(:publication_id, Publication.tracking_standing_orders.order(:name).collect{|p| [ p.name, p.id ]})
    %tr.num-copies
      %th # Copies
      %td
        - if @standing_order.persisted?
          = f.number_field(:num_copies, required: true, min: 0, step: 1)
          %small <tt>0</tt> means <q>delete</q>
        - else
          = f.number_field(:num_copies, required: true, min: 1, step: 1)
    %tr
      %th Comments
      %td= f.text_field(:comments)
