-# Required variables: "standing_orders" => list of standing_orders

%table.customer-standing-orders
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-orders') ? 5 : 4)}
        = glossary_term('Standing Orders')
        = "(#{standing_orders.count})"
  %thead
    %tr
      %th Publication
      %th # Copies
      %th Entered
      %th Comments
      - if current_user.has_role? 'edit-orders'
        %th
  %tbody
    - standing_orders.each do |standing_order|
      %tr
        %td.publication= standing_order.publication.name
        %td.num-copies= standing_order.num_copies
        %td.created-at= standing_order.created_at.to_formatted_s(:long)
        %td.comments= standing_order.comments
        - if current_user.has_role? 'edit-orders'
          %td{:class => 'actions'}
            = link_to 'Edit', edit_customer_standing_order_path(@customer, standing_order)
            = button_to 'Delete', customer_standing_order_path(@customer, standing_order), data: { :confirm => 'Are you sure you want to unsubscribe this Customer from this Publication?' }, :method => :delete
    - if current_user.has_role? 'edit-orders'
      %tr
        %td.add{:colspan => (current_user.has_role?('edit-orders') ? 5 : 4)}
          = link_to 'Add New Standing Order', new_customer_standing_order_path(@customer)
