%h1
  Edit
  = glossary_term_and_tooltip 'Standing Order'
%h2
  Customer:
  = link_to @customer.name, customer_path(@customer)

= error_messages_for :standing_order

- form_for :standing_order, :url => customer_standing_order_path(@customer, @standing_order), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p= submit_tag

%p.actions
  = link_to 'Back to Customer', customer_path(@customer)
