%h1
  New
  = glossary_term('Standing Order')
%h2
  Customer:
  = link_to @customer.name, customer_path(@customer)

= error_messages_for :standing_order

= form_for :standing_order, :url => customer_standing_orders_path(@customer) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    %button.debounced Create New Standing Order

%p.actions
  = link_to 'Back to Customer', customer_path(@customer)
