.main
  = form_for(@telerivet_link, url: customer_telerivet_link_path(customer_id: @telerivet_link.customer.id, id: @telerivet_link.sms_number), method: :delete) do |f|
    = f.hidden_field(:attribute)
    %button.btn.btn-default.debounced{type: 'submit'} Remove SMS From FeminaDB
    %p FeminaDB will:
    %ul
      %li create a contact <q>#{@telerivet_link.sms_number}</q> in Telerivet if it does not exist
      %li set its title in Telerivet to be <q>#{@telerivet_link.sms_number}</q>
      - if @telerivet_link.attribute.to_sym != :old_sms_numbers
        - (@telerivet_link.telerivet_groups_to_add - ['Audience']).each do |group_name|
          %li remove this contact from the Telerivet group, <q>#{group_name}</q>
        - @telerivet_link.telerivet_groups_to_remove.each do |group_name|
          %li add this contact to the Telerivet group, <q>#{group_name}</q>
