= error_messages_for :telerivet_link

= form_for(@telerivet_link) do |f|
  .form-group
    = f.label(:sms_number, 'SMS number to add')
    = f.sms_number_field(:sms_number, required: true)
  .form-group
    %label{for: 'customer_id-search'} Customer
    = f.customer_id_field(:customer_id, required: true)
  .form-group
    = f.label(:attribute, 'This phone number is what to the customer?')
    = f.select(:attribute, options_for_select([[ 'A contact SMS', 'sms_numbers' ], [ 'A club leader SMS', 'club_sms_numbers' ], [ 'A student SMS', 'student_sms_numbers' ], [ 'A contact SMS that no longer reaches a contact', 'old_sms_numbers' ], [ 'A club leader SMS that no longer reaches a club leader', 'old_club_sms_numbers' ]]))
  %button.btn.btn-default{type: 'submit'} Submit
