= render_pretty_header 'Recent Changes' do
  %p
    This page lists what has changed recently in the database. It is for
    informative purposes only.

- if @versions.empty?
  %p There are no modifications in the database
- else
  %table.versions
    %thead
      %tr
        %th Record
        %th Changed
        %th By
        %th Changes
    %tbody
      - @versions.each do |version|
        %tr{:class => cycle('odd', 'even')}
          %td.record
            - record_str = "#{version.versioned.class.human_name} #{version.versioned.id}"
            - if version.versioned.class.respond_to?(:can_visit_url?) && version.versioned.class.can_visit_url?
              = link_to(record_str, version.versioned)
            - else
              = record_str
          %td.updated_at= version.updated_at.to_s(:long)
          %td.user= version.user && version.user.login || '?'
          %td.changes
            %div
              %table
                %thead
                  %tr
                    %th Old
                    %th New
                %tbody
                  - version.changes.each do |column, values|
                    %tr
                      %th{:colspan => 2}= column
                    %tr
                      %td.old= values.first
                      %td.new= values.last
