%h1
  Deleted
  = h @modification.class.name.humanize

%p
  %b Deleted by:
  (Unknown: BUG!)
%p
  %b Deleted at:
  = h format_datetime(@modification.new_version_timestamp)

%h2 Attributes at Deletion Time

%table.attributes
  %thead
    %tr
      %th Attribute
      %th Value
  %tbody
    - @modification.new_o.attributes.keys.sort.each do |key|
      %tr
        %th= h key
        %td
          %div= show_attribute(@modification.new_o, key)

%p.actions
  = link_to 'Back to Modifications List', :action => 'index'
