-# Required variables: issue => Issue
%table.issue-notes
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-issues') ? 4 : 3)} Notes
  %thead
    %tr{:class => cycle('odd', 'even')}
      %th Who
      %th When
      %th What
      - if current_user.has_role?('edit-issues')
        %th
  %tbody
    - issue.notes.each do |note|
      %tr{:class => cycle('odd', 'even')}
        %td.user= render_user note.created_by_user
        %td.date= note.created_at.to_date.to_formatted_s(:long)
        %td.note
          .redcloth= textilize(note.note).html_safe
        - if current_user.has_role?('edit-issues')
          %td.actions
            = button_to 'Delete', issue_note_path(issue, note), data: { :confirm => 'Are you sure you want to delete this Note from this Issue?' }, :method => :delete
    %tr{:class => cycle('odd', 'even')}
      %td.user= render_user current_user
      %td.date (now)
      %td.note{:colspan => 2}
        = form_for issue.notes.build, :url => issue_notes_path(issue) do |f|
          %div
            = f.text_area :note, :style => 'width: 100%; height: 4em;'
          %p= f.submit 'Write New Note'
