<h1>Editing <%=h @issue.publication_name %> Issue #<%= @issue.issue_number %></h1>

<%= error_messages_for :issue %>

<%= form_for(:issue, :url => issue_path(@issue), :html => { :method => :patch }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><button class="debounced">Save</button></p>
<% end %>

<p><%= link_to 'Back to Issues List', publication_url(@issue.publication) %></p>
