<h1>Editing <%=h @publication.name %> Issue #<%= @issue.issue_number %></h1>

<%= error_messages_for :issue %>

<%= form_for(:issue, :url => publication_issue_path(@publication, @issue), :html => { :method => :patch }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= submit_tag 'Update Details' %></p>
<% end %>

<p><%= link_to 'Back to Issues List', publication_issues_url(@publication) %></p>
