= render_pretty_header "Issues of #{@publication.name}" do
  %p
    An Issue is a collection of printed Copies. This list displays Issues
    which have been distributed, are being distributed, and are about to be
    distributed.

- if @publication.tracks_standing_orders?
  %p Hey, Standing Orders are allowed for this publication. Maybe you want to:
  %ul
    %li= link_to("Show or edit Standing Orders of #{@publication.name}", customers_path(:q => "standing:#{@publication.to_index_key}:true"))
    %li= link_to("Show or edit Waiting Orders of #{@publication.name}", customers_path(:q => "waiting:#{@publication.to_index_key}:true"))

  %p Otherwise... let's show the list of Issues.

- if @issues.empty?
  %p There are no issues of this Publication
- else
  %ul.issues
    - @issues.each do |issue|
      %li
        %span= "#{issue.issue_number}: #{h(issue.name)}"
        = link_to('details', issue)
        = link_to('orders', issue_orders_path(issue))

%p.actions
  - if current_user.has_role?('admin')
    = link_to 'Create new Issue', new_issue_url(publication_id: @publication.id)
    |
  = link_to 'Back to Publications List', publications_url
