- title = @publication && "Issues of #{@publication.name}" || "Issues of all publications"
= render_pretty_header(title) do
  %p
    An Issue is a collection of printed Copies. This list displays Issues
    which have been distributed, are being distributed, and are about to be
    distributed.

- if @publication.try(:tracks_standing_orders?)
  %p Hey, Standing Orders are allowed for this publication. Maybe you want to:
  %ul
    %li= link_to("Show or edit Standing Orders of #{@publication.name}", customers_path(:q => "standing:#{@publication.to_index_key}:true"))
    %li= link_to("Show or edit Waiting Orders of #{@publication.name}", customers_path(:q => "waiting:#{@publication.to_index_key}:true"))

  %p Otherwise... let's show the list of Issues.

- if @issues.empty?
  %p No issues found
- else
  %table.issues
    %thead
      %tr
        - if !@publication
          %th Publication
        %th Issue
        %th Date
        %th
    %tbody
      - @issues.each do |issue|
        %tr
          - if !@publication
            %td.publication= link_to(issue.publication_name, issue.publication)
          %td.issue= link_to("#{issue.issue_number}: #{issue.name}", issue)
          %td.date= issue.issue_date
          %td.orders= link_to('orders', issue_orders_path(issue))

%p.actions
  - if @publication && current_user.has_role?('admin')
    = link_to 'Create new Issue', new_issue_url(publication_id: @publication.id)
    |
  = link_to 'Back to Publications List', publications_url
