<h1>New Issue of <%=h @publication.name %></h1>

<p>After creating this Issue, you will be able to create Orders for it: that is, you will be able to send it to Customers.</p>

<%= error_messages_for :issue %>

<%= form_for(:issue, :url => issues_path(publication_id: @publication.id)) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= submit_tag "Create Issue of #{h(@publication.name)}" %></p>
<% end %>

<p><%= link_to 'Back to Issue List', issues_url(publication_id: @publication.id) %></p>
