= render_pretty_header 'Issue/District Quantities' do
  %h2= "For #{@district} (#{@region.name}), #{h(@issue.full_name)}"
  %p
    This report shows where the Copies of this Issue were sent within this
    District.

  %p
    You are looking at fine details: you may want to
    = link_to('zoom out', issue_district_breakdown_publication_path(@issue.publication))

%table{:class => 'issue-district-breakdown-orders'}
  %thead
    %tr
      %th Customer
      %th # Copies
      %th Date
      %th
        %abbr{:title => 'Delivery Method'} DM
  %tbody
    - @orders.each do |order|
      %tr{:class => cycle('odd', 'even')}
        %td.customer
          - if order.customer
            = link_to order.customer.name, order.customer
          - else
            = h order.customer_name
        %td.num-copies= number_with_delimiter order.num_copies
        %td.order-date= order.order_date
        %td.delivery_method
          %abbr{:title => order.delivery_method.name}= h order.delivery_method.abbreviation
    %tr.total
      %th Total
      %td.num-copies= @orders.inject(0){|sum, o| sum + o.num_copies}
      %td{:colspan => 2}
