= render_pretty_header(@issue.full_name) do
  %p
    From this page, you can view all details concerning this Issue.

  %p= link_to("View Other Issues of #{@publication.name}", @publication)

%table.issue
  %tbody
    %tr{:class => cycle('odd', 'even')}
      %th= glossary_term('Publication')
      %td= link_to @publication.name, @publication
    %tr{:class => cycle('odd', 'even')}
      %th= glossary_term('Issue Number')
      %td= @issue.issue_number
    %tr{:class => cycle('odd', 'even')}
      %th Name
      %td= @issue.name
    %tr{:class => cycle('odd', 'even')}
      %th Date
      %td= @issue.issue_date
    %tr{:class => cycle('odd', 'even')}
      %th Quantity Printed
      %td= number_with_delimiter(@issue.quantity)
    %tr{:class => cycle('odd', 'even')}
      %th Box Sizes
      %td= @issue.issue_box_sizes_string
    - if current_user.has_role?('admin')
      %tr{:class => cycle('odd', 'even')}
        %th Packing hints
        %td= @issue.packing_hints
    %tr{:class => cycle('odd', 'even')}
      %th Total cost
      %td
        = number_with_delimiter(@issue.price) || '?,???'
        = '/-'
    - if @issue.price && @issue.price > 0 && @issue.quantity && @issue.quantity > 0
      %tr{:class => cycle('odd', 'even')}
        %th Cost per Copy
        %td
          = number_with_delimiter(@issue.price / @issue.quantity)
          = '/-'

    - if current_user.has_role?('edit-issues')
      %tr
        %td.edit{:colspan => 2}
          = link_to('Edit Details', edit_publication_issue_url(@publication, @issue))
      %tr
        %td.delete{:colspan => 2}
          = button_to('Delete', publication_issue_path(@publication, @issue.id), :method => :delete, data: { :confirm => 'WATCH OUT! All Orders will be deleted also. Are you sure you want to Delete this Issue?' })

%ul.actions
  - if @publication.tracks_standing_orders? && controller.authorized_for_generate_orders?
    %li
      = form_for(BulkOrderCreator.new(:issue_id => @issue.id, :from_publication_id => @issue.publication_id)) do |f|
        %div
          = f.hidden_field(:issue_id)
          = f.hidden_field(:from_publication_id)
          = f.submit('Generate Orders from Standing Orders')
  %li= link_to('Show Orders', publication_issue_orders_url(@publication, @issue))
  %li= link_to('Show Packing Instructions', show_packing_instructions_publication_issue_url(@publication, @issue))
  %li= link_to('Show Distribution Quote Request', show_distribution_quote_request_publication_issue_url(@publication, @issue))
  %li= link_to('Show Distribution Order', show_distribution_order_publication_issue_url(@publication, @issue))
  %li
    %span
      = link_to('Show Distribution List [Web]', show_distribution_list_publication_issue_url(@publication, @issue))
      = link_to('[Print]', show_distribution_list_publication_issue_url(@publication, @issue, :format => :pdf))
      (All Delivery Methods)
    %div
      Or show the Distribution List for only one Delivery Method:
      %ul
        - DeliveryMethod.active.order(:name).all.each do |dm|
          - if Order.active.where(issue_id: @issue.id, delivery_method_id: dm.id).count != 0
            %li
              = link_to("Only #{dm.name} [Web]", show_distribution_list_publication_issue_url(@publication, @issue, :delivery_method_id => dm.id))
              = link_to('[Print]', show_distribution_list_publication_issue_url(@publication, @issue, :delivery_method_id => dm.id, :format => :pdf))
              = link_to('[Spreadsheet]', show_distribution_list_publication_issue_url(@publication, @issue, :delivery_method_id => dm.id, :format => :csv))
  %li= link_to('Back to Issue List', publication_issues_url(@publication))

= render('notes', :issue => @issue)
