= render_pretty_header 'Distribution List' do
  %p
    This is the
    = glossary_term('Distribution List')
    for
    = "#{h(@issue.full_name)}."

  %p= link_to('View Issue Information', @issue)

  %p
    - if @delivery_method
      Only showing Delivery Method:
      = @delivery_method

  - @data.each do |obj|
    = render('distribution_list', delivery_method: obj[0], regions: obj[1])
