= render_pretty_header 'Packing Instructions' do
  %p= "For #{h(@issue.full_name)}"

  %p
    These instructions can be used to help decide what instructions to send
    to the printers.

  %p= link_to 'View Issue Information', [@publication, @issue]

- if @packing_instructions_data.nil?
  %p
    This Issue does not fit into boxes. You can work around this by adding
    a box size of 1 to the Issue.
- else
  - @packing_instructions_data.warehouses.each do |wh, nums|
    - reset_cycle
    %table.packing-instructions
      %thead.title
        %tr
          %th{:colspan => 3}= h wh.name
        %tr
          %th{:colspan => 3}= h wh.comment
      %thead
        %tr
          %th Box Size
          %th # Boxes
          %th # Copies
      %tbody
        - @issue.issue_box_sizes_i.each do |ibs|
          %tr{:class => cycle('odd', 'even')}
            %td= ibs
            %td= number_with_delimiter nums[ibs]
            %td= number_with_delimiter(nums[ibs] * ibs)
        %tr.total
          %th Total
          %td= number_with_delimiter(@issue.issue_box_sizes_i.inject(0){ |sum, ibs| sum + nums[ibs] })
          %td= number_with_delimiter(@issue.issue_box_sizes_i.inject(0){ |sum, ibs| sum + nums[ibs] * ibs })

  - if !@packing_instructions_data.districts_with_ones.empty?
    %p
      Unfortunately, some districts are receiving partial boxes. Please add,
      remove or modify orders in those districts to make the orders divide
      evenly.

    - @packing_instructions_data.districts_with_ones.each do |wh, list|
      %h3= wh.name
      %table.data
        %thead
          %tr
            %th Region
            %th District
            %th Number of issues not in a full box
        %tbody
          - list.each do |region, district, num|
            %tr
              %td= region.name
              %td= district
              %td= num
