= render_pretty_header 'Distribution List' do
  %p
    This is the
    = glossary_term('Distribution List')
    for
    = "#{h(@issue.full_name)}."

  %p
    If you want to print this list, there is a
    = link_to('Print version', print_distribution_list_url, :onclick => render_loading)
    available.

  %p= link_to 'View Issue Information', [@publication, @issue]

  %p
    - if @delivery_method
      Only showing Delivery Method:
      = h @delivery_method.name

- if @data.nil?
  .error
    %p
      The Issues do not all fit into boxes, and so this page cannot be
      displayed. Create a box size of 1 on this Issue to work around this
      problem.
- else
  - @data.each do |delivery_method, regions|
    = render :partial => 'distribution_list', :locals => { :delivery_method => delivery_method, :regions => regions }
