= render_pretty_header('Bulk Order Creation') do
  %p
    You are preparing to create many Orders at once.
    There will be a total of
    %b= pluralize(@bulk_order_creator.n_customers, 'Customer')
    getting new orders.

  %p
    You found these Customers by searching for
    %b= @bulk_order_creator.search_string
    - if @bulk_order_creator.creation_type == :publication
      on the list of Standing Orders for
      %b= Publication.find(@bulk_order_creator.from_publication_id).name
    - elsif @bulk_order_creator.creation_type == :issue
      on the list of Orders for
      %b= Issue.find(@bulk_order_creator.from_issue_id).full_name

  %p
    After filling in this information, you may browse to the list of new
    Orders, where you can edit the quantities.

= form_for(@bulk_order_creator) do |f|
  = f.error_messages
  %div
    = f.hidden_field(:search_string)
    - if f.object.creation_type == :publication
      = f.hidden_field(:from_publication_id)
    - elsif f.object.creation_type == :issue
      = f.hidden_field(:from_issue_id)

    %p
      Prepare Orders for this Issue:
      = f.issue_field(:issue_id)

    %p
      Number of Copies on each Order:
      - if f.object.creation_type == :customers
        = f.text_field(:num_copies)
      - else
        %br/
        %label
          = f.radio_button(:constant_num_copies, false, :checked => !f.object.constant_num_copies)
          Copy the quantities from the Orders we are using as templates
        %br/
        %label
          = f.radio_button(:constant_num_copies, true, :checked => f.object.constant_num_copies)
          Make all new Orders have the same number of copies:
        = f.text_field(:num_copies)

    %p
      %label
        Date to set on each Order:
        = f.date_field(:order_date)

    %p
      %label
        Delivery Method for each Order:
        = f.delivery_method_field(:delivery_method_id, :prompt => 'Use Customer defaults')

    %p
      %label
        Comment to write on each Order:
        = f.text_field(:comment)

    %p
      = f.submit('Create Orders (may take time)')
