= render_pretty_header 'Publication/District Quantities' do
  %p
    This report shows how many Copies of all Issues of each Publication have
    been sent directly to which Districts. Click on a Publication name (a
    column header) to view a per-Issue breakdown.

  %p
    The report only includes Issues with dates on or after
    %b== #{@district_breakdown.start_date.to_formatted_s(:long)}.

%form{:action => district_breakdown_publications_path, :method => :get}
  %p
    Change date:
    %input{:name => 'start_date_string', :value => @district_breakdown.start_date_string, :class => 'date_field'}
    %input{:type => 'submit', :value => 'Update'}

%table.publication-district-breakdown
  %thead
    %tr
      %th Region
      %th District
      - @district_breakdown.publications.each do |publication|
        %th= link_to(publication.name, issue_district_breakdown_publication_path(publication, params.slice(:start_date_string)))
  %tbody
    - @district_breakdown.data.each do |region_name, district, values|
      %tr{:class => cycle('odd', 'even')}
        %td= h region_name
        %td= h district
        - @district_breakdown.publications.each do |publication|
          - value = values[publication.name].to_i
          - if value == 0
            %td
          - else
            %td.num-copies= number_with_delimiter value
