<h1>Editing Publication</h1>

<%= error_messages_for :publication %>

<%= form_for @publication do |f| %>
  <p><b>Publication name</b>: <%= f.text_field :name %></p>
  <p><%= f.check_box :tracks_standing_orders %> <label for="publication_tracks_standing_orders">Will be published regularly (and so needs Standing Orders)</label></p>
  <p><%= f.check_box :pr_material %> <label for="publication_pr_material">Is advertising material (pens, bags, pamphlets, calendars, etc)</label></p>
  <p><%= f.submit 'Modify Publication' %></p>
<% end %>

<p><%= link_to 'Back to Publications List', publications_url %></p>
