= render_pretty_header 'Publications' do
  %p
    A Publication is a magazine, book, or flyer. We do not distribute
    Publications: we distribute Issues of Publications. An Issue is a
    collection of printed copies.

  %p= "You can also skip to a #{link_to('list of all Issues', issues_path)}.".html_safe

- if @publications.empty?
  %p There are no publications in the database.
- else
  - periodicals = @publications.where(:tracks_standing_orders => true)
  - if !periodicals.empty?
    %h3 Periodicals
    = render('publications', :publications => periodicals)
  - non_periodicals = @publications.where(:tracks_standing_orders => false, :pr_material => false)
  - if !non_periodicals.empty?
    %h3 One-off publications
    = render('publications', :publications => non_periodicals)
  - pr_publications = @publications.where(:pr_material => true)
  - if !pr_publications.empty?
    %h3 Advertising Materials
    = render('publications', :publications => pr_publications)

- if current_user.has_role?('edit-publications')
  %p.actions
    = link_to 'Create New Publication', new_publication_url
