= render_pretty_header 'Publications' do
  %p
    A Publication is a magazine, book, or flyer. We do not distribute
    Publications: we distribute Issues of Publications. An Issue is a
    collection of printed copies.

- if @publications.empty?
  %p There are no publications in the database.
- else
  %ul{:class => 'publications'}
    - @publications.each do |publication|
      %li
        %span= h publication.name
        = link_to '[issues]', publication_issues_url(publication)
        - if publication.tracks_standing_orders?
          = link_to '[standing orders]', publication_standing_orders_url(publication)
        = link_to '[waiting orders]', publication_waiting_orders_url(publication)
        - if current_user.has_role?('edit-publications')
          = link_to '[edit]', edit_publication_url(publication)
          = link_to '[destroy]', publication_url(publication), :confirm => 'Are you sure?', :method => :delete

- if current_user.has_role?('edit-publications')
  %p.actions
    = link_to 'Create New Publication', new_publication_url
