= render_pretty_header 'Issue/District Quantities' do
  %h2
    For
    = @issue_district_breakdown.publication.name
  %p
    This report shows how many Copies of each Issue were sent to each
    District. Click on a quantity to view a per-Order breakdown

  %p
    The report only includes Issues with dates on or after
    %b== #{@issue_district_breakdown.start_date.to_formatted_s(:long)}.

  %p
    You are looking at details for one Publication: you may want to
    = link_to('zoom out', district_breakdown_publications_path)

%form{:action => issue_district_breakdown_publication_path(@issue_district_breakdown.publication), :method => :get}
  %p
    Change date:
    %input{:name => 'start_date_string', :value => @issue_district_breakdown.start_date_string, :class => 'date_field'}
    %input{:type => 'submit', :value => 'Update'}

%table{:class => 'issue-district-breakdown'}
  %thead
    %tr
      %th Region
      %th District
      - @issue_district_breakdown.issues.each do |issue|
        %th
          %abbr{:title => issue.name}= issue.issue_number
  %tbody
    - @issue_district_breakdown.data.each do |region, district, values|
      %tr{:class => cycle('odd', 'even')}
        %td.region= region
        %td.district= district
        - @issue_district_breakdown.issues.each do |issue|
          - value = values[issue].to_i
          - if value == 0
            %td
          - else
            %td.num-copies
              = link_to(number_with_delimiter(value), orders_in_district_issue_path(issue, :region => region, :district => district))
