<h1>New Publication</h1>

<p>After creating this Publication, you will be able to create Issues for it.</p>

<%= error_messages_for :publication %>

<%= form_for @publication do |f| %>
  <p><b>Publication Name</b>: <%= f.text_field :name %></p>
  <p><label><%= f.check_box :tracks_standing_orders %> Needs Standing Orders</p>
  <p><%= submit_tag 'Create Publication' %></p>
<% end %>

<p><%= link_to 'Back to Publications List', publications_url %></p>
