%h1 New Note
%h2
  Customer:
  = link_to @customer.name, @customer

= error_messages_for :note

= form_for @note, :url => customer_notes_path(@customer) do |f|
  %div
    = f.text_area :note
  %p
    %button.debounced Write New Note

%p.actions
  = link_to 'Back to Customer', @customer
