.standing-order-form
  %h3
    - if standing_order.new_record?
      New Standing Order
    - else
      Edit Standing Order
  %form{:action => polymorphic_path(standing_order), :method => :post}
    %div
      = error_messages_for(standing_order)
      - if standing_order.persisted?
        %input{:type => 'hidden', :name => '_method', :value => 'put'}
      = token_tag
      %input{:type => 'hidden', :name => 'standing_order[customer_id]', :value => standing_order.customer_id}
      %input{:type => 'hidden', :name => 'standing_order[publication_id]', :value => standing_order.publication_id}
      - if standing_order.persisted?
        %p
          Inserted
          = standing_order.created_at.to_formatted_s(:long)
      %p
        %label
          Qty
          %input.num_copies{:name => 'standing_order[num_copies]', :value => standing_order.num_copies}

        %label
          Comment
          %input.comment{:name => 'standing_order[comments]', :value => standing_order.comments}
      %p
        %input{:type => 'submit', :value => "#{standing_order.persisted? ? 'Update' : 'Create'} Standing Order"}
        %input{:type => 'reset', :value => 'Cancel Editing'}
  - unless standing_order.new_record?
    = button_to('Delete Standing Order', standing_order, :method => :delete, :class => 'delete')
