-# Required variables: "index", a unique no; "line", a line
- row_id = "special_order_line_#{index}"
%tr{:id => row_id}
  - fields_for "lines[#{index}]", line do |fl|
    %td.num-copies-requested
      = fl.text_field :num_copies_requested
    %td.issue-id
      = fl.issue_field :issue_id, :conditions => { :allows_new_special_orders => true }
    %td
      = link_to('Remove', 'FIXME')
