= render_pretty_header 'New Special Order' do
  %p
    You are welcome to request Copies here. Amandus or Hamisi will need to
    approve them.

  - unless @special_order.customer
    %p
      %em Warning:
      If you want to request on behalf of an existing Customer, don't use this
      form. Instead:
      %ol
        %li= link_to('Search for that Customer', customers_url)
        %li Click "Show"
        %li Click "Request New Special Order for this Customer"

= error_messages_for :special_order

- form_for(:special_order, :url => { :action => 'create' }) do |f|
  %table.special-order
    %tbody
      %tr{:class => cycle('odd', 'even')}
        %th Entered by
        %td= render_user @special_order.requested_by_user
      %tr{:class => cycle('odd', 'even')}
        %th Requested By
        %td
          - if @special_order.customer
            = f.hidden_field :customer_id
            = @special_order.customer.name
          - else
            = f.text_field :customer_name
            = link_to 'or Search for a Customer', customers_url
      %tr{:class => cycle('odd', 'even')}
        %th Reason
        %td= f.text_field :reason
      %tr{:class => cycle('odd', 'even')}
        %th Date Needed
        %td= f.date_field :requested_for_date
  %table.special-order-lines
    %thead.title
      %tr
        %th{:colspan => 3} Copies Ordered
    %thead
      %tr
        %th Qty
        %th Issue
        %th
    %tbody{:id => 'lines'}
      - f.fields_for :lines, @special_order.lines do |fls|
        - @special_order.lines.each_with_index do |line, index|
          = render :partial => 'new_line', :locals => { :f => fls, :index => index, :line => line }
    %tbody
      %tr
        %td{:colspan => 3}
          = render :partial => 'add_line_link', :locals => { :index => @special_order.lines.size }

  %p
    = submit_tag 'Request'
