%h1 Special Order

%p
  This is a Special Order which has not been granted or even approved. It
  must be approved by Amandus or Hamisi before the Copies can be given.

= error_messages_for :special_order

%table{:class => 'special-order'}
  %tr{:class => cycle('odd', 'even')}
    %th Entered by
    %td= render_user @special_order.requested_by_user
  %tr{:class => cycle('odd', 'even')}
    %th Requested for
    %td= h @special_order.customer_name
  %tr{:class => cycle('odd', 'even')}
    %th On
    %td= h @special_order.requested_at
  %tr{:class => cycle('odd', 'even')}
    %th Reason
    %td= h @special_order.reason
  %tr{:class => cycle('odd', 'even')}
    %th Date Needed
    %td= h @special_order.requested_for_date

- if current_user.has_role?('edit-special-orders')
  %h2 Approve

  - form_for(@special_order, :url => approve_special_order_path(@special_order)) do |f|
    %table{:class => 'special-order-lines'}
      %thead{:class => 'title'}
        %tr
          %th{:colspan => 4} Requested Copies
      %thead
        %tr
          %th Issue
          %th Requested
          %th In Stock
          %th Granted
      %tbody
        - @special_order.lines.each do |line|
          - fields_for "lines[#{line.id}]", line do |fl|
            %tr
              %td= h line.issue.full_name
              %td.num-copies-requested= line.num_copies_requested
              %td.num-copies-in-stock= line.issue.num_copies_in_stock   
              %td.num-copies-granted= fl.text_field :num_copies
    %p
      Comments:
      = f.text_field :authorize_comments, :id => :special_order_comments_authorize
    %p
      = submit_tag 'Approve Request'

  %h2 Deny
  - form_for(@special_order, :url => { :action => 'deny' }) do |f|
    %p
      Comments:
      = f.text_field :authorize_comments, :id => :special_order_comments_deny
    %p
      = submit_tag 'Deny Request'
- else
  = render :partial => 'lines', :locals => { :lines => @special_order.lines, :show_num_copies => false }

  %p
    This Special Order must still be approved by Amandus, Hamisi, Gloria,
    or Epheta.

= render :partial => 'notes', :locals => { :special_order => @special_order }

%p.actions
  = link_to 'File Another Request', :action => 'new'
  |
  = link_to 'List Pending Requests', :action => 'index'
