%h1 Completed Special Order

%p This Special Order has been granted and the Copies were given.

%table{:class => 'special-order'}
  %tr{:class => cycle('odd', 'even')}
    %th Entered by
    %td= render_user @special_order.requested_by_user
  %tr{:class => cycle('odd', 'even')}
    %th Requested for
    %td= h @special_order.customer_name
  %tr{:class => cycle('odd', 'even')}
    %th On
    %td= h @special_order.requested_at
  %tr{:class => cycle('odd', 'even')}
    %th Reason
    %td= h @special_order.reason
  %tr{:class => cycle('odd', 'even')}
    %th Date Needed
    %td= h @special_order.requested_for_date
  %tr{:class => cycle('odd', 'even')}
    %th Approved by
    %td= render_user @special_order.authorized_by_user
  %tr{:class => cycle('odd', 'even')}
    %th Approved on
    %td= h @special_order.authorized_at.to_formatted_s
  %tr{:class => cycle('odd', 'even')}
    %th Comments
    %td= h @special_order.authorize_comments

= render :partial => 'lines', :locals => { :lines => @special_order.lines, :show_num_copies => true }

= render :partial => 'notes', :locals => { :special_order => @special_order }

%p.actions
  = link_to 'List Pending Requests', :action => 'index'
