= render_pretty_header 'Order List' do
  %p
    This is the list of Orders for
    = link_to(@issue.full_name, [@issue.publication, @issue])

  %p
    In this list, you can see the intended recipients of this Issue. If you
    are logged in you may edit the quantities. You may also delete Orders.
    To add new Orders, or to edit anything besides the quantities, browse
    to
    = link_to('the Customers list', customers_path)
    and edit from there.

= render :partial => 'application/customer_search', :locals => { :path => publication_issue_orders_url(@publication, @issue), :num_results => @orders.total_entries }

%table.issue-orders
  %thead
    %tr
      %th
        %abbr{:title => 'Delivery Method'} DM
      %th Region
      %th District
      %th Customer
      %th Qty
      - if current_user.has_role?('edit-orders')
        %th
  - if !@issue.bulk_order_creators.empty?
    %thead.status
      %tr
        %td{:colspan => current_user.has_role?('edit-orders') ? 6 : 5}
          %p
            FeminaDB is building more Orders for this Issue. Refresh the page
            to see more of them. When complete, this message will disappear.
          %p.status
            %strong Status:
            == (#{@issue.bulk_order_creators.first.updated_at.to_formatted_s(:short)})
            = @issue.bulk_order_creators.first.status
  %tbody
    - @orders.each do |o|
      %tr{:class => cycle('odd', 'even')}
        %td.delivery-method= delivery_method_abbr(o.delivery_method)
        %td.region= o.region.name
        %td.district= o.district
        %td.customer
          .cut-off
            - if o.customer_id
              = link_to(o.customer_name, customer_path(o.customer_id))
            - else
              = o.customer_name
        %td.qty
          - if current_user.has_role?('edit-orders')
            = form_for([@issue.publication, @issue, o]) do |f|
              .basic= f.text_field(:num_copies, :id => '', :class => 'num_copies')
              .details
                %label
                  Comment
                  = f.text_field(:comments, :id => '')
                %label
                  Date
                  = f.date_field(:order_date, :id => '')
                = f.submit('Save')
                %input{:type => 'Reset', :value => 'Cancel Changes'}

          - else
            = o.num_copies
        - if current_user.has_role?('edit-orders')
          %td.actions
            = link_to('delete', publication_issue_order_url(@publication, @issue, o), :method => :delete, :confirm => 'Are you sure you want to remove this Order?')
= will_paginate(@orders)

%p.actions
  = link_to('Export Data to Excel', publication_issue_orders_path(@publication, @issue, params.slice(:q).merge(:format => :csv)))
  - if current_user.has_role?('edit-orders')
    |
    = link_to('Create Orders for an Issue using this list', new_bulk_order_creator_path(:bulk_order_creator => {:from_issue_id => @issue.id, :search_string => params[:q]}))
