.waiting-order-form
  %h3
    - if waiting_order.new_record?
      New Waiting Order
    - else
      Edit Waiting Order
  %form{:action => polymorphic_path(waiting_order), :method => (waiting_order.persisted? ? :put : :post)}
    %div
      = error_messages_for(waiting_order)
      - if waiting_order.persisted?
        %input{:type => 'hidden', :name => '_method', :value => 'put'}
      = token_tag
      %input{:type => 'hidden', :name => 'waiting_order[customer_id]', :value => waiting_order.customer_id}
      %input{:type => 'hidden', :name => 'waiting_order[publication_id]', :value => waiting_order.publication_id}
      %p
        %label
          Qty
          %input.num_copies{:name => 'waiting_order[num_copies]', :value => waiting_order.num_copies}

        %label
          Requested Date
          %input.request_date.date_field{:name => 'waiting_order[request_date_string]', :value => waiting_order.request_date_string}

        %label
          Comment
          %input.comment{:name => 'waiting_order[comments]', :value => waiting_order.comments}
      %p
        %input{:type => 'submit', :value => "#{waiting_order.persisted? ? 'Update' : 'Create'} Waiting Order"}
        %input{:type => 'reset', :value => 'Cancel Editing'}
  - unless waiting_order.new_record?
    = button_to('Delete Waiting Order', waiting_order, :method => :delete, :class => 'delete')
    = button_to('Convert to Standing Order', convert_to_standing_order_waiting_order_path(waiting_order), :method => :post, :class => 'convert')
