= render_pretty_header 'Warehouses' do
  %p Administrators may edit the master list of Warehouses here.
  %p Warehouses are used by Delivery Methods.

%table.warehouses
  %thead
    %tr
      %th Name
      %th Comment
      %th
      %th

  %tbody
    - @warehouses.each do |warehouse|
      %tr{:class => cycle('odd', 'even')}
        %td= h warehouse.name
        %td= h warehouse.comment
        %td= link_to 'Edit', edit_admin_warehouse_path(warehouse)
        %td= button_to 'Delete', [ :admin, warehouse ], method: :delete, data: { confirm: 'Are you sure you want to delete this warehouse?' }
    %tr
      %td.add{:colspan => 4}
        = link_to 'Create New Warehouse', new_admin_warehouse_path
