<h1>Warehouse</h1>

<p>
  <b>Warehouse Name:</b>
  <%=h @warehouse.name %>
</p>

<p>
  <b>Comment:</b>
  <%=h @warehouse.comment %>
</p>

<%= link_to 'Edit', edit_admin_warehouse_path(@warehouse) %> |
<%= link_to 'Destroy', admin_warehouse_path(@warehouse), :confirm => 'Are you sure you want to delete this Warehouse?', :method => :delete %> |
<%= link_to 'Back', admin_warehouses_path %>
