-# Required variables: "customer" => a customer
%table.customer{'data-id' => customer.id}
  %thead.general-information
    %tr
      %th{:colspan => 2}
        .name-and-inserted
          %strong.name= customer.name
          %span.inserted= customer.created_at && "Inserted #{customer.created_at.to_formatted_s(:long)}" || '(Insertion date unknown)'
        = customer_tags_field_data
        = customer_tags_field(customer.id, customer.tag_ids)

  %tbody.general-information
    %tr.first
      %th Type
      %td
        = customer.type.name
        = '-'
        = customer.type.description
    %tr
      %th Region
      %td= customer.region.name_and_manager
    %tr.last
      %th Council
      %td= customer.council
  %tfoot
    %tr
      %td.actions{colspan: 2}
        - if current_user.has_role?('edit-customers')
          = link_to('Edit Customer', edit_customer_path(customer))
          = button_to('Delete Customer', customer_path(customer), data: { confirm: 'Are you sure you want to delete this Customer?' }, method: :delete)
        = link_to('Customer Data History', modifications_path(record_id: customer.id, table_name: Customer.table_name))
