-# Required variables: "f": a form_for; @customer: the Customer
%table.customer
  %thead
    %tr
      %th{colspan: 2}
        General Information:
        %b= h @customer.name
  %tbody
    %tr.first
      %th Name
      %td= f.text_field :name
    %tr
      %th Type
      %td= f.customer_type_field :customer_type_id
    %tr
      %th Region
      %td= f.region_field :region_id
    %tr.last
      %th District
      %td= f.text_field :district

  %thead
    %tr
      %th{colspan: 2} Delivery Details
  %tbody
    %tr.first
      %th Delivery Method
      %td= f.delivery_method_field(:delivery_method_id)
    %tr
      %th= glossary_term('Delivery address')
      %td= f.text_field :delivery_address
    %tr
      %th= glossary_term('SMS numbers')
      %td= f.text_field :sms_numbers
    %tr
      %th= glossary_term('Old SMS numbers')
      %td= f.text_field :old_sms_numbers
    %tr.last
      %th
        %abbr{title: 'Headmasters, etc., whom we cannot contact via SMS'} Other contacts
      %td= f.text_field :other_contacts
  - if @customer.type.category == 'Education'
    %thead
      %tr
        %th{colspan: 2} Students
    %tbody
      %tr.first
        %th= glossary_term('Club SMS numbers')
        %td= f.text_field :club_sms_numbers
      %tr
        %th= glossary_term('Old Club SMS numbers')
        %td= f.text_field :old_club_sms_numbers
      %tr.last
        %th= glossary_term('Student SMS numbers')
        %td= f.text_field :student_sms_numbers
