-# Required variables: "customer" => a customer
%table.customer
  %thead
    %tr
      %th{:colspan => 2}
        General Information:
        %b= customer.name
  %tbody
    %tr.first
      %th Name
      %td= customer.name
    %tr
      %th Type
      %td
        = customer.type.name
        = '-'
        = customer.type.description
    %tr
      %th Region
      %td= customer.region.name
    %tr.last
      %th District
      %td= customer.district

  %thead
    %tr
      %th Delivery Details
  %tbody
    %tr.first
      %th Delivery Method
      %td
        = customer.delivery_method.abbreviation
        = '-'
        = customer.delivery_method.name
        = "(#{customer.delivery_method.description})"
    %tr
      %th
        = glossary_term_and_tooltip('Deliver Via')
      %td= customer.deliver_via
    %tr
      %th
        = glossary_term_and_tooltip('Route')
      %td= customer.route
    %tr
      %th
        Address
        = glossary_term_and_tooltip('Address')
      %td= customer.address
    %tr.last
      %th PO Box
      %td= customer.po_box
  %thead
    %tr
      %th Contact Details
  %tbody
    %tr.first
      %th Name/Position
      %td= "#{customer.contact_name}#{customer.contact_position ? ', ' + customer.contact_position : ''}"
    %tr
      %th Telephone
      %td= telephones_string(customer)
    %tr
      %th Fax
      %td= customer.fax
    %tr
      %th Email
      %td= emails_string(customer)
    %tr.last
      %th Website
      %td= website_string(customer)
    - if current_user.has_role? 'edit-customers'
      %tr{:class => 'footer'}
        %td{:colspan => 2, :class => 'add'}
          = link_to 'Edit Customer', edit_customer_path(customer)
      %tr{:class => 'footer'}
        %td{:colspan => 2, :class => 'delete'}
          = button_to 'Delete Customer', customer_path(customer), :confirm => 'Are you sure you want to delete this Customer?', :method => :delete
