-# Required variables: "f": a form_for; @customer: the Customer
%table.customer
  %thead
    %tr
      %th{:colspan => 2}
        General Information:
        %b= h @customer.name
  %tbody
    %tr.first
      %th Name
      %td= f.text_field :name
    %tr
      %th Type
      %td= f.customer_type_field :customer_type_id
    %tr
      %th Region
      %td= f.region_field :region_id
    %tr.last
      %th District
      %td= f.text_field :district

  %thead
    %tr
      %th Delivery Details
  %tbody
    %tr.first
      %th Delivery Method
      %td= f.delivery_method_field(:delivery_method_id)
    %tr.last
      %th= glossary_term('Delivery address')
      %td= f.text_field :delivery_address
  %thead
    %tr
      %th Contact Details
  %tbody
    %tr.first
      %th Contact Name
      %td= f.text_field :contact_name
    %tr
      %th Contact Position
      %td= f.text_field :contact_position
    %tr
      %th Telephone (1)
      %td= f.text_field :telephone_1
    %tr
      %th Telephone (2)
      %td= f.text_field :telephone_2
    %tr
      %th Telephone (3)
      %td= f.text_field :telephone_3
    %tr
      %th Fax
      %td= f.text_field :fax
    %tr
      %th Email (1)
      %td= f.text_field :email_1
    %tr
      %th Email (2)
      %td= f.text_field :email_2
    %tr.last
      %th Website
      %td= f.text_field :website
