-# Required variables: "customer" => a customer
%table.customer{'data-id' => customer.id}
  %thead.general-information
    %tr
      %th{:colspan => 2}
        .name-and-inserted
          %strong.name= customer.name
          %span.inserted= customer.created_at && "Inserted #{customer.created_at.to_formatted_s(:long)}" || '(Insertion date unknown)'
        = customer_tags_field_data
        = customer_tags_field(customer.id, customer.tag_ids)

  %tbody.general-information
    %tr.first
      %th Type
      %td
        = customer.type.name
        = '-'
        = customer.type.description
    - if ['SS (PR)', 'SS (PU)' ].include?(customer.type.name)
      %tr
        %th School Details
        %td
          %dl.school-details
            %dt Levels
            %dd= customer.secondary_school_levels_description
            %dt Boarding
            %dd= customer.secondary_school_residence_description
            %dt Sex
            %dd= customer.secondary_school_sex_description
    %tr
      %th Council
      %td
        = customer.region.name
        = " / "
        = customer.council
        %small= " (#{customer.region.manager})"
    %tr.last
      %th Delivery Address
      %td= customer.delivery_address
  %tfoot
    %tr
      %td.actions{colspan: 2}
        - if current_user.has_role?('edit-customers')
          = link_to('Edit (or delete) Customer', edit_customer_path(customer))
        = link_to('Recent Changes', modifications_path(record_id: customer.id, table_name: Customer.table_name))
