-# Required variables: "f": a form_for; @customer: the Customer
%table.customer
  %thead
    %tr
      %th{colspan: 2}
        General Information:
        %b= h @customer.name
  %tbody
    %tr.first
      %th Name
      %td= f.text_field :name
    %tr
      %th Type
      %td= f.customer_type_field(:customer_type_id)
    %tr.school-details
      %th School Details
      %td
        %label
          Levels
          = f.secondary_school_levels_field(:secondary_school_levels)
        %label
          Boarding/Day
          = f.secondary_school_residence_field(:secondary_school_residence)
        %label
          Sex
          = f.secondary_school_sex_field(:secondary_school_sex)
    %tr
      %th Council
      %td
        = f.region_field(:region_id)
        = f.council_field(:council)
    %tr.last
      %th Delivery Address
      %td= f.text_field(:delivery_address)
