-# Required variables: "customer" => a customer
%table.customer
  %thead.general-information
    %tr
      %th{:colspan => 2}
        General Information:
        %b= customer.name
  %tbody.general-information
    %tr.first
      %th Name
      %td= customer.name
    %tr
      %th Type
      %td
        = customer.type.name
        = '-'
        = customer.type.description
    %tr
      %th Region
      %td= customer.region.name
    %tr
      %th Council
      %td= customer.council
    %tr.last
      %th Inserted
      %td= customer.created_at && customer.created_at.to_formatted_s(:long) || '(date unknown)'

  %thead.delivery-details
    %tr
      %th{:colspan => 2} Delivery Details
  %tbody.delivery-details
    %tr.first
      %th Delivery Method
      %td
        = customer.delivery_method.abbreviation
        = '-'
        = customer.delivery_method.name
        = "(#{customer.delivery_method.description})"
    %tr
      %th= glossary_term('Delivery address')
      %td= customer.delivery_address
    %tr.last
      %th= glossary_term('Delivery contact')
      %td= customer.delivery_contact
  %thead.sms-numbers
    %tr
      %th{colspan: 2} SMS Numbers
  %tbody.sms-numbers
    %tr.first
      %th= glossary_term('Primary Contact SMS numbers')
      %td= show_sms_numbers(customer, :primary_contact_sms_numbers)
    %tr
      %th= glossary_term('Headmaster SMS numbers')
      %td= show_sms_numbers(customer, :headmaster_sms_numbers)
    %tr
      %th= glossary_term('Club Mentor SMS numbers')
      %td= show_sms_numbers(customer, :club_sms_numbers)
    %tr
      %th= glossary_term('Student SMS numbers')
      %td= show_sms_numbers(customer, :student_sms_numbers)
    %tr.last
      %th= glossary_term('Expired SMS numbers')
      %td= show_sms_numbers(customer, :old_sms_numbers)
    - if current_user.has_role?('edit-customers')
      %tbody.actions
        %tr{:class => 'footer'}
          %td{:colspan => 2, :class => 'add'}
            = link_to 'Edit Customer', edit_customer_path(customer)
        %tr{:class => 'footer'}
          %td{:colspan => 2, :class => 'delete'}
            = button_to 'Delete Customer', customer_path(customer), data: { :confirm => 'Are you sure you want to delete this Customer?' }, :method => :delete
