-# Required variables: "f": a form_for; @customer: the Customer
%table.customer
  %thead
    %tr
      %th{colspan: 2}
        General Information:
        %b= h @customer.name
  %tbody
    %tr.first
      %th Name
      %td= f.text_field :name
    %tr
      %th Type
      %td= f.customer_type_field :customer_type_id
    %tr
      %th Region
      %td= f.region_field :region_id
    %tr.last
      %th Council
      %td= f.text_field :council

  %thead
    %tr
      %th{colspan: 2} Delivery Details
  %tbody
    %tr.first
      %th= glossary_term('Delivery address')
      %td= f.text_field :delivery_address
    %tr.last
      %th= glossary_term('Delivery contact')
      %td= f.text_field :delivery_contact
