-# Required variables: "customer" => Customer

%table.customer-notes
  %thead.title
    %tr
      %th{:colspan => (current_user.has_role?('edit-customers') ? 4 : 3)} Notes
  %thead
    %tr{:class => cycle('odd', 'even')}
      %th Who
      %th When
      %th Note
      - if current_user.has_role? 'edit-customers'
        %th
  %tbody
    - customer.notes.each do |note|
      %tr
        %td{:class => 'user'}= render_user note.created_by_user
        %td{:class => 'date'}= note.created_at.to_date.to_formatted_s(:long)
        %td{:class => 'note'}
          .redcloth= textilize(note.note).html_safe
        - if current_user.has_role? 'edit-customers'
          %td{:class => 'actions'}
            = button_to 'Delete', customer_note_path(customer, note), data: { :confirm => 'Are you sure you want to delete this Note from this Customer?' }, :method => :delete
    %tr{:class => cycle('odd', 'even')}
      %td{:class => 'user'}= render_user current_user
      %td{:class => 'date'} (now)
      %td{:class => 'note', :colspan => 2}
        = form_for customer.notes.build, :url => customer_notes_path(customer) do |f|
          %div
            = f.text_area :note, :style => 'width: 100%; height: 4em;'
          %p
            %button.debounced Write New Note
