%tr{:class => cycle('odd', 'even'), :id => "customer-#{customer.id}"}
  %td.region= customer.region.name
  %td.district= customer.district
  %td.type
    %abbr{:title => customer.type.description}= customer.type.name
  %td.club= customer.has_club? && 'Yes' || ''
  %td.customer-name
    .cut-off= link_to(customer.name, customer)
  - publications.each do |publication|
    %td.standing-orders
      - s = customer.standing_or_waiting_order_string_for(publication)
      - if current_user.has_role?('edit-orders')
        %span.editable-standing-order{'data-customer-id' => customer.id}= customer.standing_or_waiting_order_string_for(publication)
      - else
        %span= s
