%tr{:class => cycle('odd', 'even'), :id => "customer-#{customer.id}"}
  %td.region= customer.region.name
  %td.council= customer.council
  %td.type
    %abbr{:title => customer.type.description}= customer.type.name
  %td.club= customer.has_club? && 'Yes' || ''
  - publications.each do |publication|
    %td.standing-orders
      - s = customer.standing_order_for(publication)
      - if s
        - if current_user.has_role?('edit-orders')
          = link_to(s.num_copies, edit_customer_standing_order_path(customer, s), class: 'in-modal-dialog')
        - else
          = s.num_copies
      - if s.blank? && current_user.has_role?('edit-orders')
        = link_to('…', new_customer_standing_order_path(customer), class: 'in-modal-dialog')
  %td.customer-name
    .cut-off= link_to(customer.name, customer)
