= render_pretty_header 'Editing Customer' do
  %p You may change the Customer's information here.
  %p Changes will only be applied when you click <q>Save changes</q>.

= error_messages_for :customer

= form_for :customer, :url => customer_path(@customer), :html => { :method => :patch } do |f|
  = render :partial => 'customer_form', :locals => { :f => f }
  %p
    %button.debounced Save

- if current_user.has_role?('edit-customers')
  .delete
    = button_to('Delete Customer', customer_path(@customer), data: { confirm: 'Are you sure you want to delete this Customer? This cannot be undone.' }, method: :delete)

%p.actions
  = link_to 'Return without Saving', customer_path(@customer)
