= render_pretty_header('Customers') do
  %p
    Each Customer can have
    = glossary_term_and_tooltip('Standing Orders')
    to periodical
    = link_to 'Publications', publications_path
    and
    = glossary_term_and_tooltip('Orders')
    for Publications' individual Issues.  Customers also have Notes.

= render(:partial => 'application/customer_search', :locals => { :path => customers_path, :num_results => @customers.total_entries })

%table.customers
  %thead
    %tr
      %th Region
      %th District
      %th Type
      %th Customer
      %th
  %tbody
    - @customers.each do |customer|
      %tr{:class => cycle('odd', 'even')}
        %td.region= customer.region.name
        %td.district= customer.district
        %td.type
          %abbr{:title => customer.type.description}= customer.type.name
        %td.customer-name
          .cut-off= customer.name
        %td.actions
          =link_to 'Show', customer
    - if current_user.has_role? 'edit-customers'
      %tr
        %td{:colspan => 5, :class => 'add'}
          = link_to 'Create New Customer', new_customer_path

= will_paginate @customers

%p.actions
  = link_to 'Export Data to Excel', customers_url(params.slice(:q), :format => :csv)
  - if current_user.has_role?('edit-orders')
    |
    = link_to 'Create Orders for everybody in this list', prepare_bulk_order_path(:q => params[:q])
