= render_pretty_header 'Showing Customer' do
  %p
    This page has all our information on
    %b= @customer.name

= render(@customer)

= render(partial: 'sms_numbers', locals: { customer: @customer })

= render(partial: 'customer_standing_orders/standing_orders', locals: { standing_orders: @customer.standing_orders })

= render(partial: 'notes', :locals => { customer: @customer })

= render(partial: 'survey_responses', locals: { survey_responses: @customer.survey_responses, region_name: @customer.region.name, n_missing_survey_responses_in_region: @n_missing_survey_responses_in_region })

= render(partial: 'customer_orders/orders', locals: { orders: @customer.orders })

%p.actions
  = link_to('Back to Customers', customers_path)
