= render_pretty_header 'Help: Approve/Deny a Special Order' do
  %p
    Once somebody has made a Special Order (see
    = link_to 'the Make a Special Order Help', :doc => 'make_special_order'
    for instructions), it must be approved/denied. Only authorized
    employees can approve or deny Special Orders.

  %p
    This guide describes how to Approve or Deny a Pending Special Order.

= render_help_steps do
  = render_help_step 'Find Pending Special Orders' do
    %p
      Browse to
      = link_to 'Special Orders', special_orders_path
      to view a list of all Pending Special Orders (if there are any).
  = render_help_step 'Show a Pending Special Order' do
    %p
      Click on the "Show" link of one of the Pending Special Orders to view
      its details.
  = render_help_step 'Log in' do
    %p
      Log in as somebody authorized to Approve/Deny Special Orders. If you
      are already logged in, skip this step.
  = render_help_step 'Approve' do
    %p
      Review the Special Order and decide, for each line, how many Copies
      to grant. Enter a Comment. Click on "Approve Request".
    %p
      The Request will become Approved. The Copies must now be taken from
      reception.
  = render_help_step 'Deny' do
    %p
      Review the Special Order and decide that none of the requested lines
      should be granted. Enter a Comment. Click on "Deny Request".
