= render_pretty_header 'Help: Complete a Special Order' do
  %p
    Once somebody has Approved a Special Order (see
    = link_to 'the Approving/Denying a Special Order Help', :doc => 'approve_deny_special_order'
    for instructions), it must be completed. Marking a Special Order as
    "complete" means telling FeminaDB that the copies have been given as
    requested. Only authorized employees can complete Special Orders.

  %p
    This guide describes how to Complete a Special Order.

= render_help_steps do
  = render_help_step 'Finding Approved Special Orders' do
    %p
      Browse to
      = link_to 'Special Orders', special_orders_path
      to view a list of all Approved Special Orders (if there are any).
    %p
      Click on the "Show" link of one of the Approved Special Orders to
      view its details.
  = render_help_step 'Log in' do
    %p
      Log in as somebody authorized to Complete Special Orders. If you are
      already logged in, skip this step.
  = render_help_step 'Complete' do
    %p
      After the Copies have been given (in the real world), click the
      "Mark Special Order as Complete" button.
    %p
      All information on the Special Order will be archived in FeminaDB,
      backed up every night.
