= render_pretty_header 'Help: Finding a Customer' do
  %p
    Follow these instructions to find a Customer and view all our
    information about it.

= render_help_steps do
  = render_help_step 'Browse to the Customers list' do
    %p
      Browse to
      = link_to customers_path(:only_path => false), customers_path(:only_path => false)
      to view the list of customers.
  = render_help_step 'Enter a search term' do
    %p
      In the Search field, enter the Customer's name: for instance,
      "save the children" or "UNFPA"

    %p
      You can filter by hovering over the underlined labels below the search
      box. You can also enter some more complicated queries by hand.

    %p
      Here are some more complex queries, which you can use as examples:

    %dl
      %dt= search_link('region:Arusha')
      %dd All Customers in Arusha
      %dt= search_link('region:Arusha district:Arumeru')
      %dd All Customers in the Arumeru district of Arusha
      %dt= search_link('region:Arusha AND (district:Arumeru OR district:Monduli)')
      %dd All Customers which are either in Arusha, either in the Arumeru or the Monduli districts
      %dt= search_link('district:""')
      %dd
        All Customers without a district entered
        %em This should be empty!
      %dt= search_link('standing_num_copies:fema>101')
      %dd All Customers with Standing Orders for Fema of over 100 Copies
      %dt= search_link('type:ss standing:fema:false waiting:fema:false')
      %dd All Secondary Schools with neither Standing or Waiting orders for Fema
      %dt= search_link('created_standing:si_mchezo>2010-01-01')
      %dd All Customers who have Standing Orders for Si Mchezo! which were created on or after 2010-01-01 (January 1st, 2010)
      %dt= search_link('requested_waiting:fema<2010-03-01')
      %dd All Customers who have had Waiting Orders for Fema dating earlier than 2010-03-01 (March 1st, 2010)
      %dt= search_link('created_at>2010-01-05')
      %dd All Customers created after 2010-01-05 (January 5th, 2010)
  = render_help_step 'Click the "Search" button' do
    %p The Search Results will appear
  = render_help_step 'If you found 0 results' do
    %p
      If the search results are empty, make your search more broad. For
      instance, if you typed in "Save the Children Arusha", change the
      search term to "Save the Children" and try again.
  = render_help_step 'If you found too many results' do
    %p
      If you have too many search results and you cannot find the Customer
      you want, you will need to enter more information about the Customer.
      Underneath the Search field you can refine the search. Choose a
      search field and write some text, then click "Refine".
    %p
      For example: if you searched for "NGO" and cannot find what you want,
      search with the "Region" of "Dodoma" and click "Refine".
  = render_help_step 'If you found the Customer' do
    %p
      If the Customer you want to find appears in the search, you can click
      the "Show" link in the search results to view the Customer's
      information.
  = render_help_step 'Customer Details' do
    %p
      Click a Customer to show its details.
    %dl
      %dt General Information
      %dd Contact details and address.
      %dt Standing Orders
      %dd
        Whether the Customer is to receive the next issues of Fema and/or
        Si Mchezo!
      %dt Orders
      %dd How many copies of each Issue the Customer should have received.
      %dt Notes
      %dd
        Any comments we have about the Customer. Any information at all.
        For example: "I called this Customer and told him we would send
        50 Si Mchezo!"; "The Customer said he did not receive the latest
        issue of Fema"; "I tried the phone number and it did not work";
        "I don't like this guy"; anything!
  = render_help_step 'Customer Standing Orders' do
    %p
      Standing or Waiting Orders can be edited straight from the Customers
      page. Just log in and click on the numbers you want to edit. Create new
      Standing or Waiting Orders by clicking where you want them to be.
