= render_pretty_header 'Help: Make a Special Order' do
  %p
    Special Orders are requests for small quantities, distributed in-house.
    Any employee may make a Special Order.

  %p
    This guide describes how to make such an Order and how to follow up on
    it.

= render_help_steps do
  = render_help_step 'Browse to the New Special Order page' do
    %p
      Browse to
      = link_to 'Special Orders → Make a New Special Order', new_special_order_path
      and log in if requested.
  = render_help_step 'Enter details on the Special Order' do
    %p Enter information on your order. The following must be entered:
    %dl
      %dt
        Requested by
      %dd
        Who will receive the Copies. This can be your own name, the name of
        a Customer, the name of your friend, etc.
      %dt
        Reason
      %dd
        What the Copies will be used for.
      %dt
        Date Needed
      %dd
        When the Copies should be given.
      %dt
        Copies Ordered
      %dd
        A list of how many copies of which Issues are wanted.
    %p
      When you have entered all the information, click "Request".
  = render_help_step 'Click "Request"' do
    %p
      When you click on "Request", a message will be sent to Amandus and
      Hamisi asking them to approve your Special Order. After they Approve
      (or Deny) it, you can get the Copies at reception.
