<h1>Editing District</h1>

<%= error_messages_for :district %>

<% form_for(:district, :url => admin_district_path(@district), :html => { :method => :put }) do |f| %>
  <p>
    <b>Region</b><br />
    <%= f.select :region_id, Region.find(:all, :order => :name).collect{|r| [ r.name, r.id ]} %>
  </p>

  <p>
    <b>District Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Color on Map of Tanzania (RRGGBB)</b><br />
    #<%= f.text_field :color %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_district_path(@district) %> |
<%= link_to 'Back', admin_districts_path %>
