<h1>Districts</h1>

<table class="districts">
  <thead>
    <tr>
      <th>Region</th>
      <th>Name</th>
      <th>Color</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% for district in @districts %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%=h district.region.name %></td>
        <td><%=h district.name %></td>
        <td><%=h district.color %></td>
        <td><%= link_to 'Show', admin_district_path(district) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="add">
        <%= link_to 'New district', new_admin_district_path %>
      </td>
    </tr>
  </tbody>
</table>

