%h1 Editing Delivery Method

= error_messages_for :delivery_method

= form_for :delivery_method, :url => admin_delivery_method_path(@delivery_method), :html => { :method => :patch } do |f|
  = render :partial => 'form', :locals => { :f => f }

  %p= submit_tag 'Save Changes'

%p{:class => 'actions'}
  = link_to 'Show', admin_delivery_method_path(@delivery_method)
  |
  = link_to 'Back', admin_delivery_methods_path
