= render_pretty_header 'Delivery Methods' do
  %p Administrators may edit the master list of Delivery Methods here.

%table.delivery-methods
  %thead
    %tr
      %th Abbr
      %th Name
      %th Description
      %th
  %tbody
    - @delivery_methods.each do |delivery_method|
      %tr{:class => cycle('odd', 'even')}
        %td.abbreviation= delivery_method.abbreviation
        %td.name= delivery_method.name
        %td.description= delivery_method.description
        %td.actions
          = link_to('Edit', edit_admin_delivery_method_path(delivery_method))
    %tr.add
      %td{:colspan => 6}
        = link_to('Create new Delivery Method', new_admin_delivery_method_path)
