= render_pretty_header 'Delivery Methods' do
  %p Administrators may edit the master list of Delivery Methods here.

%table.delivery-methods
  %thead
    %tr
      %th Abbr
      %th Name
      %th Description
      %th
        %abbr{:title => 'Where the Packing Instructions say to send the Issues'} Warehouse
      %th
        %abbr{:title => 'If Yes, Orders with this Delivery Method will be included in Distribution Quote Requests'} Quote?
      %th
  %tbody
    - @delivery_methods.each do |delivery_method|
      %tr{:class => cycle('odd', 'even')}
        %td.abbreviation= delivery_method.abbreviation
        %td.name= delivery_method.name
        %td.description= delivery_method.description
        %td.warehouse= delivery_method.warehouse.name
        %td.quote
          - if delivery_method.include_in_distribution_quote_request?
            Yes
          - else
            No
        %td.actions
          = link_to('Edit', edit_admin_delivery_method_path(delivery_method))
    %tr.add
      %td{:colspan => 6}
        = link_to('Create new Delivery Method', new_admin_delivery_method_path)
