%h1 Showing Delivery Method

%p
  %b
    %abbr{:title => 'Shown when there is very little space'} Abbreviation:
  = h @delivery_method.abbreviation
%p
  %b
    %abbr{:title => 'Short name of the delivery method'} Name:
  = h @delivery_method.name
%p
  %b
    %abbr{:title => 'Clarification of how the delivery occurs'} Description:
  = h @delivery_method.description
%p
  %b
    %abbr{:title => 'Which warehouse the Issues come from'} Warehouse:
  = h @delivery_method.warehouse.name
%p
  %b
    %abbr{:title => 'If Yes, Orders with this Delivery Method will be included in Distribution Quote Requests'} Include in Distribution Quote Request:
  - if @delivery_method.include_in_distribution_quote_request?
    Yes
  - else
    No

%p{:class => 'actions'}
  = link_to 'Edit', edit_admin_delivery_method_path(@delivery_method)
  |
  = link_to 'Destroy', admin_delivery_method_path(@delivery_method), :confirm => 'Are you sure you want to delete this delivery method?', :method => :delete
  |
  = link_to 'Back', admin_delivery_methods_path
