= render_pretty_header 'Inventory' do
  %p
    This page details how many Copies of each Issue are in the warehouse.

  %p
    Authorized users who are logged in may click on quantities to edit them.

- @publications.each do |publication|
  %table.inventory
    %thead.title
      %tr
        %th{:colspan => 0}= h publication.name
    %thead
      %tr
        %th{:rowspan => 2} Issue
        %th{:rowspan => 2}
          %abbr{:title => 'Total'} T
        %th{:rowspan => 2}
          %abbr{:title => 'In House'} IH
        - @warehouses.each do |warehouse|
          %th{:colspan => 2}= h warehouse.name
      %tr
        - @warehouses.each do
          %th
            %abbr{:title => 'Total'} T
          %th Boxes
    %tbody
      - publication.issues.each do |issue|
        %tr.first
          %td= link_to "#{issue.issue_number}: #{issue.name}", publication_issue_url(issue.publication_id, issue)
          %td.total
            %span.num-copies= issue.num_copies_in_stock
          %td.total
            - if current_user.has_role?('edit-inventory')
              - t = @issue
              - @issue = issue
              = in_place_editor_field :issue, 'num_copies_in_house', {}, :cols => 3
              - @issue = t
            - else
              %span.num-copies= issue.num_copies_in_house
          - @warehouses.each do |warehouse|
            - col_class = cycle('odd-col', 'even-col', :name => 'cols')
            %td{:class => "total #{col_class}", :rowspan => 2, :id => "warehouse_issue_total_#{warehouse.id}_#{issue.id}"}
              = issue.num_copies_in_warehouse(warehouse)
            %td{:class => "breakdown #{col_class}", :rowspan => 2, :id => "warehouse_issue_box_sizes_#{warehouse.id}_#{issue.id}"}
              = render_breakdowns warehouse, issue
          - reset_cycle 'cols'
        %tr
          %td.comment{:colspan => 3}
            - if current_user.has_role?('edit-inventory')
              - t = @issue
              - @issue = issue
              = in_place_editor_field :issue, 'inventory_comment', {}, :nil_content_replacement => '(no inventory comment)'
              - @issue = t
            - else
              %span.comment= h issue.inventory_comment
