<h1>Councils</h1>

<table class="councils">
  <thead>
    <tr>
      <th>Region</th>
      <th>Name</th>
      <th>Color</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% for council in @councils %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%=h council.region.name %></td>
        <td><%=h council.name %></td>
        <td><%=h council.color %></td>
        <td><%= link_to 'Show', admin_council_path(council) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="add">
        <%= link_to 'New council', new_admin_council_path %>
      </td>
    </tr>
  </tbody>
</table>

