<h1>Editing region</h1>

<%= error_messages_for :region %>

<%= form_for(:region, :url => admin_region_path(@region), :html => { :method => :patch }) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Population</b><br />
    <%= f.text_field :population %>
  </p>

  <p>
    <button class="debounced">Update</button>
  </p>
<% end %>

<%= link_to 'Show', admin_region_path(@region) %> |
<%= link_to 'Back', admin_regions_path %>
