-# Required variables: "is_admin" (boolean)
%nav#nav
  %ul.main
    %li= link_to('Customers', customers_path)
    %li
      = link_to('Publications', publications_path)
      .quick-publications
        %ul
          - Publication.includes(:issues => :publication).tracking_standing_orders.each do |publication|
            %li.publication
              = link_to("#{publication.name} (all Issues)", publication)
              - publication.issues.first(3).each do |issue|
                %li.issue= link_to(issue.full_name, issue)
    %li.has-dropdown
      %a Reports
      .dropdown
        %ul
          %li= link_to('Distribution Map', map_path)
          %li= link_to('Staff schools/clubs', report_path('staff-schools-clubs'))
          %li= link_to('School contacts', report_path('school-contacts'))
    %li= link_to('Help', help_path)
  .login
    You are
    %span.login= h current_user.login
  - if current_user.has_role?('admin')
    .admin
      %p Admin:
      %ul
        %li= link_to('Users', [:admin, :users])
        %li= link_to('Regions', [:admin, :regions])
        %li= link_to('Customer Types', [:admin, :customer_types])
        %li= link_to('Delivery Methods', [:admin, :delivery_methods])
        %li= link_to('Tags', [ :admin, :tags ])
  .spacer
