-# Required variables: "is_admin" (boolean)
#nav
  %ul.main
    %li= link_to('Customers', customers_path)
    %li= link_to('Clubs', clubs_path)
    %li
      = link_to('Publications', publications_path)
      .quick-publications
        %ul
          - Publication.includes(:issues => :publication).current_periodicals.each do |publication|
            %li.publication
              = link_to("#{publication.name} (all Issues)", publication)
              - publication.issues.first(3).each do |issue|
                %li.issue= link_to(issue.full_name, issue)
    %li= link_to('Reports', reports_path)
    %li= link_to('Help', help_path)
  - if is_admin
    .admin
      %p Admin:
      %ul
        %li= link_to('Users', [:admin, :users])
        %li= link_to('Regions', [:admin, :regions])
        %li= link_to('Customer Types', [:admin, :customer_types])
        %li= link_to('Delivery Methods', [:admin, :delivery_methods])
  .spacer
