-# Required variables: klass, the class of the report
- header_id = "report_#{klass.name.demodulize.underscore}_header"
- details_id = "report_#{klass.name.demodulize.underscore}_details"
.report-form
  %h2{:id => header_id}
    = klass.title
    = link_to_function('details') { |p| p[details_id].toggle }

  .details{:id => details_id, :style => 'display: none;'}
    - klass.description.each do |line|
      %p= h line

    - form_tag({:action => :show, :id => "#{klass.name.split('::', 2).last.underscore}_form"}, :method => :get) do
      %div.parameters
        %input{:type => :hidden, :name => 'report', :value => klass.name.split('::', 2).last.underscore}
        - klass.parameters.each do |p|
          %p
            %label
              = h(p[:title] + ':')
              = html_form_input(p)
      %p= submit_tag 'Report'
