-# Required variables: klass, the class of the report
- report_name = klass.name.demodulize.underscore
- header_id = "report_#{report_name}_header"
- details_id = "report_#{report_name}_details"
- form_id = "report_#{report_name}_form"
.report-form
  %h2{:id => header_id}
    = klass.title

  .details{:id => details_id}
    - klass.description.each do |line|
      %p= line

    - form_tag(report_path(report_name), :method => :get, :id => form_id) do
      %div.parameters
        - klass.parameters.each do |p|
          %p
            %label
              = h(p[:title] + ':')
              = html_form_input(p)
      %p= submit_tag 'Report'
