= render_pretty_header 'School Contacts' do
  %p
    See how well we're in contact with Schools that receive Fema.

  %p
    ("School" here means "Secondary School.")

  %p
    Remember: according to FeminaDB, a school only has a club when it has an
    SMS number for a mentor. That means every school with a Club has a Telerivet
    contact.

%table.report
  %thead
    %tr
      %th Region
      %th Staff
      %th Population
      %th Total number of schools in region
      %th Number of Fema Schools
      %th Percent of Schools receiving Fema
      %th Number of Fema Copies distributed to Schools
      %th Population per School Fema copy
      %th Number of Fema Clubs
      %th Percent of Fema Schools with Fema Clubs
      %th Number of Fema Schools with a Head of School phone number
      %th Percent of Fema Schools with a Head of School phone number
  %tbody
    - @table.each do |row|
      %tr{class: cycle('odd', 'even')}
        %td.string= row[:name]
        %td.string= row[:staff_member]
        %td.number= number_with_delimiter(row[:population])
        %td.number= number_with_delimiter(row[:n_schools])
        %td.number= number_with_delimiter(row[:n_schools_with_fema])
        %td.percent= number_to_percentage(row[:percent_schools_with_fema], precision: 1)
        %td.number= number_with_delimiter(row[:n_fema])
        %td.number= number_with_delimiter(row[:population_per_fema].try(&:round))
        %td.number= number_with_delimiter(row[:n_schools_with_club])
        %td.percent= number_to_percentage(row[:percent_fema_schools_with_club], precision: 1)
        %td.number= number_with_delimiter(row[:n_schools_with_fema_and_headmaster_telerivet])
        %td.percent= number_to_percentage(row[:percent_fema_schools_with_headmaster_telerivet], precision: 1)

%p.actions
  = link_to('Export Data to Excel', report_path('school-contacts', format: :csv))
