= render_pretty_header @report.class.title do
  - unless @report.subtitle.to_s.empty?
    %h2= @report.subtitle

  - @report.class.description.each do |line|
    %p= line

- if @report.show_map?
  = render('map', :report => @report)

%table.report#report
  %thead
    %tr
      - @report.columns.each do |column|
        %th= column[:title]
  %tbody
    - @report.data.each do |row|
      %tr{:class => cycle('odd', 'even')}
        - row.each_with_index do |v, i|
          %td{:class => @report.columns[i][:key].to_s}
            = format(v)

- if !@report.show_map?
  %p.report
    %img{:class => 'report', :alt => 'image', :src => report_graph_path(@report.to_param, :format => :png, :report => params[:report])}

%p.report
  = link_to('Get this data in a Spreadsheet', report_path(@report, :format => :csv, :report => params[:report]))
