!!! XML
!!!
%html
  %head
    %title FeminaDB
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    = javascript_include_tag('jquery', 'date')
    = javascript_include_tag('jquery.calendar_date_picker', 'jquery.datetime_picker_field')
    = javascript_include_tag('initializers/date_fields', 'initializers/issue_fields')
    = stylesheet_link_tag('main')
    = stylesheet_link_tag('jquery.calendar_date_picker')
    = stylesheet_link_tag('print', :media => 'print')
  %body
    .nav
      %ul
        %li= link_to 'Customers', customers_path
        %li= link_to 'Clubs', clubs_path
        %li= link_to 'Publications', publications_path
        %li= link_to 'Inventory', inventory_path
        %li= link_to 'Special Orders', special_orders_path
        %li= link_to 'Reports', reports_path
        %li= link_to 'Help', help_path
      - if current_user.has_role?('admin')
        .admin
          %p Admin:
          %ul
            %li= link_to('Users', [:admin, :users])
            %li= link_to('Regions', [:admin, :regions])
            %li= link_to('Warehouses', [:admin, :warehouses])
            %li= link_to('Customer Types', [:admin, :customer_types])
            %li= link_to('Delivery Methods', [:admin, :delivery_methods])

    .login
      %p
        - if logged_in?
          Logged in as
          %span.login= h current_user.login
          = link_to('Log out', logout_path(request.request_uri), :method => :post)
        - else
          %b Not logged in
          = link_to('Log in', login_path(request.request_uri))

    - if flash[:notice]
      .flash= flash[:notice]

    .main
      = yield

    .footer
      %ul
        %li= link_to('Recent Data Changes', modifications_path)
        %li= link_to('Problems', 'http://bugs/projects/list_issues/1')

    #loading{:style => "display: none; background: url(#{image_path('fade.png')}) repeat;"}
      .frame
        .outer
          .inner1
            = image_tag 'loading.gif', :alt => '...'
          .inner2
            Loading...
            %br
            %span.fine-print In case of error, Refresh this page
    = html_namespacing_javascript_tag(:jquery)
