!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title FeminaDB
    %meta{'http-equiv' => 'content-type', :content => 'application/xhtml+xml;charset=UTF-8'}
    = javascript_include_tag('jquery', 'date', 'jquery.calendar_date_picker', 'jquery.datetime_picker_field', 'jquery.autocomplete.js', 'channeler', 'jquery.svg_map', 'initializers/date_fields', 'initializers/issue_fields')
    = stylesheet_link_tag('main', 'jquery.calendar_date_picker', 'jquery.autocomplete')
    = stylesheet_link_tag('print', :media => 'print')
  %body
    = render('application/nav', :is_admin => current_user.has_role?('admin'))

    - if flash[:notice]
      .flash= flash[:notice]

    .main
      = yield

    .footer
      %ul
        %li= link_to('Recent Data Changes', modifications_path)

    #loading{:style => "display: none; background: url(#{image_path('fade.png')}) repeat;"}
      .frame
        .outer
          .inner1
            = image_tag 'loading.gif', :alt => '...'
          .inner2
            Loading...
            %br
            %span.fine-print In case of error, Refresh this page
